/* General styling */
header{
    background-image: url(./image/LeagueofLegends_ArcaneEnemySoundtrackSongImagineDragonsJID-min-1536x864.jpg);
    width: auto;
    height: 120vh;
    background-size: cover;
    background-position: bottom;
}
section{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px;
    padding: 25px;
    background-color: black;
}
div{
    margin: 10px;
    font-size: 25px;
    color: white;
}
body{
    background-color: red;
}

/* Text styling */

p{
    line-height: 2;
    letter-spacing: 3px;
}

@font-face {
    font-family: firstFont;
    src: url(../assign2Class1054/fonts/SuperFuntime-3zpLX.ttf);
}
@font-face {
    font-family: secondFont;
    src: url(../assign2Class1054/fonts/EdgeOfTheGalaxyRegular-OVEa6.otf);
}
@font-face {
    font-family: thirdFont;
    src: url(../assign2Class1054/fonts/Roadrage-owgBd.otf);
}

h1, h2{
    color: red;
}
h1{
    font-size: 3.5em;
}
h2{
    font-size: 3em;
}

.font1{
    font-family: firstFont;
}
.font2{
    font-family: secondFont;
}
.font3{
    color: yellow;
    font-family: firstFont;
    font-style: italic;
}
span{
    font-size: 1em;
    font-style: italic;
    color: red;
    font-family: thirdFont;
    padding: 0px 5px; 
}
